

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="personlist">
  <thead>
    <tr>
      <!--[appSort]="personlist" data-order="desc" data-name="name" scope="col"-->
      <th [appSort]="personlist" data-order="desc" data-name="name" scope="col">Name</th>
      <th  [appSort]="personlist" data-order="desc" data-name="surname" scope="col">Surname</th>
      <th  [appSort]="personlist" data-order="desc" data-name="dateOfBirth" scope="col">Date of birth</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of personlist">    
      <td>{{ person.name }}</td>
      <td>{{ person.surname }}</td>
      <td>{{ person.dateOfBirth }}</td>    
    </tr>
  </tbody>
</table>
<div>   
    <p>Number of people : {{count}}</p>
</div>
<div>   
    <button type="submit" class="btn" (click)="btnClick();">Add Person</button>
</div>

